version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: webpack-cli
    versions:
    - 4.4.0
    - 4.5.0
  - dependency-name: smooth-scrollbar
    versions:
    - 8.5.3
    - 8.6.0
  - dependency-name: lodash-es
    versions:
    - 4.17.20
  - dependency-name: elliptic
    versions:
    - 6.5.3
