#post {
  header {
    .title {
      color: md-blue-400;
      
      &:hover {
        &:before {
          background-color: md-blue-400;
        }
      }
    }
    
    &:before {
      background-color: md-blue-400;
    }
    
    &:after {
      box-shadow: -1px 1px md-blue-400;
    }
  }
}

.card.video {
  .cover {
    width: 180px;
  }
}