@import '../../../node_modules/material-colors/dist/colors.styl'
.card {
  display: flex;
  flex-direction: column;
  background-color: md-white;
  
  .title {
    font-size: 1em;
    text-decoration: none;
    color: md-dark-text-primary;
    padding-top: 4px;
    transition: 125ms ease-in-out;
    width: 100%;
    box-sizing: border-box;
  }
}