@import '../../node_modules/material-colors/dist/colors.styl'
@import '../../node_modules/material-shadows/material-shadows.styl'

#content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: calc(100vh - 80px);
  height: calc(100vh - 64px);
  padding-top: 16px;
  box-sizing: border-box;
  
  .desc {
    display: flex;
    color: md-dark-text-secondary;
  }
  
  .column {
    overflow: hidden;
    
    a {
      text-decoration: none;
      color: inherit;
    }
    
    > header {
      padding: 12px 24px 24px;
      user-select: none;
      display: flex;
      align-items: flex-end;
      position: relative;
      transition: 225ms ease-in-out;
      z-index: 2;
      
      &.on {
        z-depth-6dp();
      }
      
      .title {
        font-size: 1.25em;
        font-weight: 500;
        margin: 0;
        margin-left: 8px;
        transition: 225ms;
        position: relative;
        white-space: nowrap;
        
        &:before {
          content: '';
          position: absolute;
          left: -6px;
          height: 100%;
          width: calc(100% + 12px);
          transform: scaleY(0);
          transform-origin: bottom;
          pointer-events: none;
          transition: 225ms;
          z-index: -1;
        }
        
        &:hover {
          color: md-light-text-primary;
          
          &:before {
            transform: scaleY(1);
          }
        }
        
        @media (max-width: 786px) {
          font-size: 1em;
        }
      }
      
      .top {
        position: relative;
        color: md-dark-text-secondary;
        font-size: .875em;
        line-height: 1.25em;
        transition: 125ms;
        white-space: nowrap;
        background: none;
        outline: 0;
        border: 0;
        cursor: pointer;
        padding: 0;
        font-family: 'Noto Sans SC', 'Microsoft YaHei UI', 'Microsoft YaHei UI Light', '微软雅黑', 'Segoe UI Semibold', 'Roboto', sans-serif;
        
        &:hover {
          color: md-dark-text-primary;
        }
        
        &:before {
          content: '↑'
          position: absolute;
          right: -10px;
          bottom: 0;
          font-size: .675em;
          font-weight: 700;
        }
      }
      
      &:before {
        content: '';
        height: 6px;
        width: 6px;
        position: absolute;
        left: 16px;
        top: 44%;
        transform: translateY(-50%);
        pointer-events: none;
      }
      
      &:after {
        content: '';
        height: 18px;
        width: calc(100% - 24px);
        position: absolute;
        left: 16px + 3px + .5px;
        top: 44%;
        pointer-events: none;
      }
    }
    
    .card-list {
      display: flex;
      flex-direction: column;
      padding: 16px 32px 0 32px;
      overflow-y: auto;
      height: calc(100vh - 150px);
      
      .card {
        margin-bottom: 16px;
        border-radius: 8px;
        background-color: md-white;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, .12);
        transition: 225ms ease-in-out;
        overflow: hidden;
        
        &:hover {
          z-depth-4dp();
        }
        
        .cover {
          display: grid;
          box-shadow: 1px 0 rgba(0, 0, 0, .12);
          
          img {
            width: 100%;
          }
        }
        
        .content {
          padding: 8px 12px;
          @media (max-width: 786px) {
            padding: 4px 8px;
          }
          
          .title {
            display: flex;
            margin-right: 8px;
            margin-bottom: 4px;
            padding: 0;
            width: fit-content;
            
            h4 {
              margin: 0;
            }
            
            @media (max-width: 786px) {
              font-size: .875em;
            }
          }
          
          .desc {
            flex-direction: column;
          }
        }
        
        &:last-child {
          margin-bottom: 64px;
        }
        
        &.dynamic {
          flex-direction: column;
          
          header {
            display: flex;
            box-shadow: 0 1px rgba(0, 0, 0, 0.12);
            padding: 7px 8px;
            align-items: center;
            
            .up {
              height: 48px;
              border-radius: 24px;
              box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);
              overflow: hidden;
              margin-right: 8px;
              
              img {
                height: 100%;
              }
            }
            
            .info {
              display: flex;
              flex-direction: column;
              
              * {
                width: fit-content;
              }
            }
          }
          
          .content {
            padding: 0;
            
            .text {
              padding: 8px 12px;
              
              @media (max-width: 786px) {
                padding: 4px 8px;
              }
            }
            
            .pictures {
              border-bottom-left-radius: 8px;
              border-bottom-right-radius: 8px;
              overflow: hidden;
              display: flex;
              flex-wrap: wrap;
              
              .picture {
                display: grid;
                background-color: md-grey-200;
                margin: 1px;
                border-radius: 8px;
                overflow: hidden;
                max-height: 500px; //暂时解决长图
                cursor: pointer;
                
                img {
                  width: 100%;
                  vertical-align: bottom;
                }
              }
              
              &.long {
                &::after {
                  content: ''
                  flex-grow: 999999999;
                }
              }
            }
          }
        }
        
        &.feed, &.video {
          .cover {
            width: 180px;
          }
        }
      }
      
      @media (max-width: 1024px) {
        padding: 16px 24px 0 24px;
      }
      @media (max-width: 786px) {
        padding: 16px 16px 0 16px;
        margin-right: 0;
        height: calc(100vh - 134px);
      }
    }
    
    &:last-child {
      border-right: none;
    }
    
  }
  
  @media (max-width: 786px) {
    width: 300%;
    padding-top: 0;
    grid-template-rows: calc(100vh - 64px);
  }
}

#feed {
  header {
    .title {
      color: md-pink-400;
      
      &:hover {
        &:before {
          background-color: md-pink-400;
        }
      }
    }
    
    #feed-count {
      color: md-pink-400;
      margin-left: 10px;
      font-weight: 600;
      line-height: 22px;
    }
    
    &:before {
      background-color: md-pink-400;
    }
    
    &:after {
      box-shadow: -1px 1px md-pink-400;
    }
  }
}

#post {
  header {
    .title {
      color: md-blue-400;
      
      &:hover {
        &:before {
          background-color: md-blue-400;
        }
      }
    }
    
    &:before {
      background-color: md-blue-400;
    }
    
    &:after {
      box-shadow: -1px 1px md-blue-400;
    }
  }
}

#dynamic {
  header {
    .title {
      color: md-orange-400;
      
      &:hover {
        &:before {
          background-color: md-orange-400;
        }
      }
    }
    
    &:before {
      background-color: md-orange-400;
    }
    
    &:after {
      box-shadow: -1px 1px md-orange-400;
    }
  }
}