@import '../../node_modules/material-colors/dist/colors.styl'
@import '../../node_modules/material-shadows/material-shadows.styl'
@import "./index/card.styl"

#content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: calc(100vh - 80px);
  height: calc(100vh - 64px);
  padding-top: 16px;
  box-sizing: border-box;
  
  .desc {
    display: flex;
    color: md-dark-text-secondary;
  }
  
  @import "./index/column.styl"
  
  @media (max-width: 768px) {
    width: 300%;
    padding-top: 0;
    grid-template-rows: calc(100vh - 64px);
  }
}

@import "./index/dynamic.styl"
@import "./index/feed.styl"
@import "./index/post.styl"
@import "./index/float-dynamic.styl"